*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    background-color: gray;
}



p{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.2;
    padding: 30px 20px;

}

a{
    text-decoration: none;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    text-align: justify;
    line-height: 1;
    padding: 20px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    line-height: 1;  
    padding: 20px 20px;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    line-height: 1;  
    padding: 20px 20px;
}
li:hover{
    border: 3px solid black;
}


.ejemplo-de-engrane{
    width: 700px;
    padding: 50px;
}

.videoejem{
    width: 700px;
    padding: 50px;
}

.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.header__logo{
    width: 400px;
    background-color: gray;
}


.header__list{
    display: flex;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;

}

.header__item{
    margin: 5px 20px;

}

.nav-item{
    margin: 0px 15px;
}


.heroe{
    height: 500px;
    width: 500px;
    
}


.separador{
    background: rgb(103,8,167);
    background: linear-gradient(90deg, rgba(103,8,167,1) 0%, rgba(167,8,167,1) 33%, rgba(255,139,255,1) 81%);
    height: 10px;
    border: none;
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-2x {
    0% {
      background:rgb(103,8,167);
    }
    100% {
      background:rgba(103,8,167,1);
    }
  }
  @keyframes color-change-2x {
    0% {
      background:rgba(167,8,167,1);
    }
    100% {
      background:rgba(255,139,255,1);
    }
  }
  

.hero__contenedor{
    height: 800px;
    background-image: url"(../img/engranesquefabricamos.jpg)";
    background-position: center bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    }

    .btn{
        position: relative;
        left: 30px;
        margin: 20px;
        padding: 10px 10px;
        border: black;
        background-color: #6708a7;
        color: white;
        border-radius: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2rem;
        font-weight: bolder;


    }

    .complemento{
        background-color: grey;
        padding: 20px 10px;
        display: flex;
        color: white;
    }

    .complemento__contenedor{
        flex-basis: 70%;
    }

    .complemento__video{
        width: 100%;
    }

    .complemento__parrafo{
        line-height: 1.5;
        font-size: 2rem;
    }

    .complemento__contenedor--text{
        align-self: center;
    }

    .leyenda{
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
    }

    .logo-abajo{
        width: 400px;
        background-color: gray;
        padding: 20px;
    }

    .piedepag{
        display: flex;
        align-items: center ;
        justify-content: baseline;
        flex-wrap: wrap;
    }

 

   

.background{
    background-color: gray;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
 .engrane__imagen{
     width: 100%;
     max-width: 150px;
     height: 150px;
     object-fit: cover;  
 }

 .tipode__engrane{
     text-align: center;
     font-weight: 700;
     color: white;
 }

 .engrane__parrafo{
     text-align: justify;
     font-weight: 500;
     color: white;
 }

 .ratreo{
     padding: 30px;
 }

 .mainsection{
     padding: 20px;
 }

 .section{
     background-color: gray;
 }

 .section__title{
     color: white;
 }

 .formulario{
     width: 400px;
     background-color: gray;
     padding: 30px;
     margin: auto;
     margin-top: 100px;
     border-radius: 4px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 700;
     color: white;

    }

    .formulario__cotizar{
        width: 100%;
        background-color: white;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 3px solid purple;
        font-size: 15px;
    }
    .boton{
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        border: none;
        padding: 12px;
        color: white;
        background-color: blueviolet;
        
    }

.rastreo{
    width: 400px;
    background-color: gray;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: white;
}

.form__rastreo{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid purple;
    font-size: 15px;
}

/* Media Queries -- Responsive */

@media screen and (max-width: 768px){
    .btn{
        position: relative;
        left: 15px;
        margin: 15px;
        padding: 10px 10px;
        border: black;
        background-color: #6708a7;
        color: white;
        border-radius: 8px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;

  
}
    .complemento{
    background-color: grey;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

    .complemento__contenedor{
    flex-basis: 100%;
}

    .complemento__video{
    width: 100%;
}

    .complemento__parrafo{
    line-height: 1.5;
    font-size: 1.5rem;
}

}

@media screen and (max-width: 425px) {
    .header, .header__logo, .header__item{
        flex-wrap: wrap;
    }
    .header__logo{
        width: 100%;
    }
    .header__list{
        flex-direction: column
        
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    p{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.6rem;
    }
    h1{
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.6rem;
    }
    .formulario {
        width: 100%;
}
    .rastreo{
        width: 100%;
       margin-top: 0px;
    }


}

@media screen and (max-width: 320px){
    .header, .header__logo, .header__item{
        flex-wrap: wrap;
    }
    .header__logo{
        width: 100%;
    }
    .header__list{
        flex-direction: column
        
    }

    .hero__contenedor{
        width: 100%;
        background-image: url(../img/Tipos\ de\ engranes\ que\ fabricamos.jpg);
        background-position: center;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    p{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .formulario {
        background-color: gray;
        padding: 30px;
        margin: auto;
        border-radius: 4px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        color: white;
        width: 100%;
}
    .rastreo{
        width: 100%;
    }
    .leyenda{
        font-size: 2rem;
    }

}

